header {
    background-color: #303134;
    width: 100%;
    height: 3rem;
}
a {
    text-decoration: none;
}
.nav {
    width: 80%;
    margin: 0 10%;
}
.nav_to_right {
    display: inline-block;
}
.nav_to_right ul li {
    list-style-type: none;
    float: left;
}
.nav_to_right ul li:nth-child(2) {
    margin-left: 0.5rem;
}
.nav_to_right ul li:first-child {
}
.nav_to_right ul li a {
    line-height: 3rem;
    display: inline-block;
    height: 3rem;
    color: white;
}
.nav_to_right ul li a .title {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}
.nav_to_right ul li a img {
    transform: translateY(0.2rem);
    width: 1.2rem;
    height: 1.2rem;
}
.nav_to_left {
    display: inline-block;
    float: right;
}
.nav_to_left ul li {
    list-style-type: none;
    float: right;
}
.nav_to_left ul li:first-child {
    margin-left: 0.7rem;
}
.nav_to_left ul li:nth-child(3) {
    margin-left: 0.7rem;
}
.nav_to_left ul li a {
    line-height: 3rem;
    display: inline-block;
    height: 3rem;
    color: white;
}
.google-icon {
    font-family: 'Material Symbols Rounded';
    font-size: 2rem;
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
    transition: all 0.5s;
}
.google-icon:hover {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}
.desktop-header {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    float: left;
}
@media (max-width: 576px) {
    .desktop-header {
        display: none;
    }
    .google-icon {
        font-size: 1.5rem;
    }
}
