<!DOCTYPE HTML>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!-- fragment header를 정의합니다. -->
<head th:fragment="header">
  <title>EunHop Movie App</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/eunhop-logo.png}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Roboto:ital,wght@1,300;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<!-- fragment navigation bar를 정의합니다. -->
<div class="nav" th:fragment="nav">
  <div class="nav_to_right">
    <ul>
      <li>
        <a th:href="@{/}">
          <img src="/images/eunhop-logo.png" alt="Logo">
          <span class="title">MovieApp</span>
        </a>
      </li>
      <li>
        <!-- 로그인 한 사람 모두 -->
        <a sec:authorize="isAuthenticated()" th:href="@{/}">
          <span class="google-icon" title="Favorite">favorite</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav_to_left">
    <ul>
      <li>
        <!-- 로그인 안한 사람만 -->
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">
          <span class="google-icon" title="Login">login</span>
        </a>
      </li>
      <li>
        <!-- 로그인 안한 사람만 -->
        <a sec:authorize="!isAuthenticated()" th:href="@{/signup}">
          <span class="google-icon" title="Sign Up">person_add</span>
        </a>
      </li>
      <li>
        <!-- 로그인한 사람만 -->
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
          <span class="google-icon" title="Logout">logout</span>
        </a>
      </li>
      <li>
        <!-- 로그인한 사람만 -->
        <a sec:authorize="isAuthenticated()" th:href="@{/}">
          <span class="google-icon" title="My info">account_circle</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>