<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
<head th:insert="~{fragments.html::header}"></head>
<body>
<header th:insert="~{fragments.html::nav}"></header>
<div class="container">
  <div class="main">
    <div class="title">
      <h2>Welcome.</h2>
      <h3>Search movies what you are looking for</h3>
    </div>
    <div class="search">
      <form method="post" th:action="@{/movie_search}">
        <label>
          <input type="text" placeholder="영화를 검색해보세요.">
          <button type="submit">Search</button>
        </label>
      </form>
    </div>
  </div>
</div>
</body>
</html>